/*********************
 *
 *      正文
 *
 *********************/

.list {
    margin-top: 60px;
}

@media (max-width: 768px) {
    .list {
        margin-top: 70px;
    }
}
@media (max-width: 550px) {
    .list {
        margin-top: 60px;
    }
}

.list > section {
    position: relative;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
    text-shadow: 0px 0px 10px rgba(255,255,255, .5);
}

/* 在每个.list子section结束后留下一个60px的三角形 */
.list > section:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    border: 60px solid transparent;
    z-index: 1;

    transition: 1s;
    -webkit-transition: 1s;
}

.list > .home {
    background: #348FD4;
}
.list > .home:after {
	left: 45.3125%;
    border-top-color: #348FD4;
}

.list > .intro {
    background: #06406C;
}
.list > .intro:after {
    left: 19%;
    border-top-color: #06406C;
}

.list > .linux {
    background: #343f53;
}
.list > .linux:after {
    left: 45.3125%;
    border-top-color: #343f53;
}

.list > .editor {
    background: #4C0D09;
}
.list > .editor:after{
	left: 45.3125%;
    border-top-color: #4C0D09;
}

.list > .sublime {
    background: #CC4037;
}
.list > .sublime:after{
    border-top-color: #CC4037;
}

.list > .contact {
    background: #9b59b6;
}
.list > .contact:after{
    left: 71%;
    border-top-color: #9b59b6;
}

@media (max-width: 768px) {
    .list > section:after {
        left: 34% !important;
    }
}

/*********************
 *
 *      容器
 *
 *********************/

.container > .header, .container > .content {
    float: left;
    position: relative;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.linux .container > .header {
    width: 34%;
}
.linux .container > .content {
    width: 66%;
}
.editor .container > .header, .editor .container > .content {
    width: 100%;
}
.editor .container > .content > .emacs, .editor .container > .content > .vim {
    float: left;
    width: 50%;
    padding: 20px;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.title, .home, .intro, .editor .title, .contact {
    text-align: center;
}

.intro .title,.header .title, .contact .title {
    font-size: 40px;
    margin-bottom: 20px;
}

.emacs .title, .vim .title {
    margin-bottom: 40px;
}

.about .container > .header{
    color: #000;
    float: right;
    width: 35%;
}
.about .container > .content{
    /*clear: right;*/
    color: #000;
    text-shadow: 0px 0px 10px rgba(0,0,0, .5);
}
.about .container > .content p{
    line-height: 25px;
}
.about .container > .content .dot{
    font-size: 20px;
    text-align: center;
}

@media (max-width: 768px) {
    .container > .header, .container > .content {
        width: 100%;
    }
    .container > .header {
        margin-bottom: 30px;
    }
    .about .container > .header{
        float: none;
        width: 100%;
    }
}

@media (max-width: 970px) {
    .editor .emacs, .editor .vim {
        width: 100% !important;
        float: none !important;
    }
}

 
/*********************
 *
 *      home部分
 *
 *********************/

#site-title {
    display: inline-block;
    color: #fff;
    font-size: 40px;
    text-shadow: 0px 20px 10px #000;

    transition: .6s;
    -webkit-transition: .6s;

    animation: show-site-title 1s ease-out 0 1 forwards;
    -ms-animation: show-site-title 1s ease-out 0 1 forwards;
    -moz-animation: show-site-title 1s ease-out 0 1 forwards;
    -webkit-animation: show-site-title 1s ease-out 0 1 forwards;
}
#site-title:hover {
    text-shadow: 0px 2px 20px #000;
    transform: translateY(-10px) scale(1.1, 1.1);
    -o-transform: translateY(-10px) scale(1.1, 1.1);
    -ms-transform: translateY(-10px) scale(1.1, 1.1);
    -moz-transform: translateY(-10px) scale(1.1, 1.1);
    -webkit-transform: translateY(-10px) scale(1.1, 1.1);
}

#site-description {
    display: inline-block;
    text-align: center;
    text-shadow: 0px 10px 10px #fff;

    animation: show-site-description 1s ease-out 0 1 forwards;
    -ms-animation: show-site-description 1s ease-out 0 1 forwards;
    -moz-animation: show-site-description 1s ease-out 0 1 forwards;
    -webkit-animation: show-site-description 1s ease-out 0 1 forwards;
}
#site-description span:not(.point) {
    display: inline-block;

    transition: .6s;
    -webkit-transition: .6s;
}
#site-description span:not(.point):hover {
    transform: translateY(-8px);
    -o-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
}


/*********************
 *
 *      Point Group
 *
 *********************/
.point-group {
    display: block;
}
.point {
    display: block;
    width: 0px;
    height: 0px;
    margin: 20px auto;
    border: 2px solid #fff;
    border-radius: 50%;
    -moz-border-radius: 50%;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .2);
}

.point:first-of-type {
    margin-top: 30px;
}
.point:last-of-type {
    margin-bottom: 30px;
}

#site-description .point {
    display: inline-block;
    margin: 4px;
    box-shadow: 0px 0px 10px 1px #fff;
}

/*********************
 *
 *   Linux部分
 *
 *********************/
.description{
	line-height: 25px;
    text-align: left;
}

.linux .content p {
    margin: 10px 0;
}
.linux .content img{
	height:100px;
}


/*********************
 *
 *   联系部分的图标
 *
 *********************/

.zocial {
    color: #fff;
    font-size: 40px !important;
    text-shadow: 0px 0px 10px #fff !important;

    transition: .6s;
    -webkit-transition: .6s;
}
.zocial:before {
    border: none;
}
.zocial:hover {
    transform: translateY(-10px) scale(1.2);
    -o-transform: translateY(-10px) scale(1.2);
    -moz-transform: translateY(-10px) scale(1.2);
    -webkit-transform: translateY(-10px) scale(1.2);
}
.contact .contact-list {
    color: #fff;
    font-size: 40px !important;
    margin: 40px 0px;
    text-shadow: 0px 0px 10px #fff !important;
}

.contact .blog a {
    display: inline-block;
    font-size: 20px;
    line-height: 25px;
    padding: 20px 30px;
    color: #fff;
    background: transparent;
    border: 1.5px solid #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, .6) inset;

    transition: .3s;
    -webkit-transition: .3s;
}
.contact .blog a:hover {
    background: #fff;
    color: #9b59b6;
}

/*********************
 *
 *      动画
 *
 *********************/

@keyframes show-site-title {
    0% {
        transform: translateY(-40px);
        -ms-transform: translateY(-40px);
    }
    100% { 
        transform: translateY(0);
        -ms-transform: translateY(0);
    }
}
@-o-keyframes show-site-title {
    0% {
        -o-transform: translateY(-40px);
    }
    100% { 
        -o-transform: translateY(0);
    }
}
@-moz-keyframes show-site-title {
    0% {
        -moz-transform: translateY(-40px);
    }
    100% { 
        -moz-transform: translateY(0);
    }
}
@-webkit-keyframes show-site-title {
    0% {
        -webkit-transform: translateY(-40px);
    }
    100% { 
        -webkit-transform: translateY(0);
    }
}

@keyframes show-site-description {
    0% {
        transform: translateY(90px);
        -ms-transform: translateY(90px);
    }
    80% { 
        transform: translateY(5px);
        -ms-transform: translateY(5px);
    }
    90% { 
        transform: translateY(-5px);
        -ms-transform: translateY(-5px);
    }
    100% { 
        transform: translateY(0);
        -ms-transform: translateY(0);
    }
}
@-o-keyframes show-site-description {
    0% {
        -o-transform: translateY(90px);
    }
    80% { 
        -o-transform: translateY(5px);
    }
    90% { 
        -o-transform: translateY(-5px);
    }
    100% { 
        -o-transform: translateY(0);
    }
}
@-moz-keyframes show-site-description {
    0% {
        -moz-transform: translateY(90px);
    }
    80% { 
        -moz-transform: translateY(5px);
    }
    90% { 
        -moz-transform: translateY(-5px);
    }
    100% { 
        -moz-transform: translateY(0);
    }
}
@-webkit-keyframes show-site-description {
    0% {
        -webkit-transform: translateY(90px);
    }
    80% { 
        -webkit-transform: translateY(5px);
    }
    90% { 
        -webkit-transform: translateY(-5px);
    }
    100% { 
        -webkit-transform: translateY(0);
    }
}
