/*滚动条伪类*/
::-webkit-scrollbar {
	width: 12px;
	background: #292929;
	opacity: .8;	
	-webkit-transition: all 300ms;
}
::-webkit-scrollbar-button {
	width: 12px;
	height: 5px;
	-webkit-transition: all 300ms;
}
::-webkit-scrollbar-track {
	background: #292929;
	border-radius: 10px;
	-webkit-transition: all 300ms;
}
::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.18);
	border-radius: 10px;	/*圆角边框*/
	-webkit-transition: all 300ms;
}
::-webkit-scrollbar-thumb:hover {
	background: rgba(255, 255, 255, 0.4);
	-webkit-transition: all 300ms;
}

/*for IE*/
.iescrollbar{
	scrollbar-track-color: #292929; /*for IE,立体滚动条背景颜色*/
	scrollbar-face-color: #4d4d4d;  /*立体滚动条的颜色（包括箭头部分的背景色）*/
	scrollbar-3dlight-color: #4d4d4d; /*立体滚动条上下的颜色*/
	scrollbar-highlight-color: #4d4d4d; /*滚动条的高亮颜色（左阴影）*/
	scrollbar-shadow-color: #4d4d4d; /*立体滚动条阴影的颜色*/
	scrollbar-darkshadow-color: #4d4d4d; /*立体滚动条外阴影的颜色*/
}